<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>remita</name>
    <displayName><![CDATA[Remita]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[This module allows you to accept payments from CreditCard, Bank Internet Site &amp; Bank Branches.]]></description>
    <author><![CDATA[Remita]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about removing these details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>